In [2]:
import pandas as pd
df = pd.read_csv('Test.csv')
df

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,1.85,18000000.0,18329466.0,...,11000.0,642.0,223.0,11984,63000,0.0,279179,440.0,450.0,7.6
1,3 Backyards,2010.0,Drama,English,USA,R,88.0,NaN,300000.0,NaN,...,795.0,659.0,301.0,1884,92,0.0,554,23.0,20.0,5.2
2,3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,2.35,NaN,59774.0,...,24.0,20.0,9.0,69,2000,0.0,4212,18.0,76.0,6.8
3,8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,1.78,2500000.0,99851.0,...,191.0,12.0,5.0,210,0,0.0,1138,30.0,28.0,7.1
4,A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,2.35,NaN,NaN,...,783.0,749.0,602.0,3874,0,2.0,5385,22.0,56.0,6.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,War & Peace,NaN,Drama|History|Romance|War,English,UK,TV-14,NaN,16.00,NaN,NaN,...,1000.0,888.0,502.0,4528,11000,1.0,9277,44.0,10.0,8.2
1600,Wings,NaN,Comedy|Drama,English,USA,NaN,30.0,1.33,NaN,NaN,...,685.0,511.0,424.0,1884,1000,5.0,7646,56.0,19.0,7.3
1601,Wolf Creek,NaN,Drama|Horror|Thriller,English,Australia,NaN,NaN,2.00,NaN,NaN,...,511.0,457.0,206.0,1617,954,0.0,726,6.0,2.0,7.1
1602,Wuthering Heights,NaN,Drama|Romance,English,UK,NaN,142.0,NaN,NaN,NaN,...,27000.0,698.0,427.0,29196,0,2.0,6053,33.0,9.0,7.7
1603,Yu-Gi-Oh! Duel Monsters,NaN,Action|Adventure|Animation|Family|Fantasy,Japanese,Japan,NaN,24.0,NaN,NaN,NaN,...,0.0,NaN,NaN,0,124,0.0,12417,51.0,6.0,7.0

In [94]:
df[['Title','Language']]

                                     Title  Language
0                               127 Hours    English
1                             3 Backyards    English
2                                       3     German
3               8: The Mormon Proposition    English
4     A Turtle's Tale: Sammy's Adventures    English
...                                    ...       ...
1599              War & Peace                English
1600                    Wings                English
1601               Wolf Creek                English
1602        Wuthering Heights                English
1603  Yu-Gi-Oh! Duel Monsters               Japanese

[1604 rows x 2 columns]

In [95]:
df.Title

0                                 127 Hours
1                               3 Backyards
2                                         3
3                 8: The Mormon Proposition
4       A Turtle's Tale: Sammy's Adventures
                        ...
1599                War & Peace
1600                      Wings
1601                 Wolf Creek
1602          Wuthering Heights
1603    Yu-Gi-Oh! Duel Monsters
Name: Title, Length: 1604, dtype: object

In [96]:
df[['Title','Language']].head(20)

                                   Title Language
0                             127 Hours   English
1                           3 Backyards   English
2                                     3    German
3             8: The Mormon Proposition   English
4   A Turtle's Tale: Sammy's Adventures   English
5                   Alice in Wonderland   English
6                   Alice in Wonderland   English
7                       All Good Things   English
8                       Alpha and Omega   English
9                                 Amigo   English
10                     Anderson's Cross   English
11                       Animals United    German
12                         Another Year   English
13                     Barney's Version   English
14                         Barry Munday   English
15                            Beginners   English
16                      Beneath Hill 60   English
17             Beyond the Black Rainbow   English
18                             Biutiful   Spanish
19                           Black Swan   English

In [99]:

X1=df['Title'][df['Content Rating']=='PG'].head(10)
print(X1)
Z=df.head(20)
Y=Z.loc[Z["Content Rating"]=='PG']

print(Y.Title)

4          A Turtle's Tale: Sammy's Adventures
5                          Alice in Wonderland
6                          Alice in Wonderland
8                              Alpha and Omega
11                              Animals United
27    Cats & Dogs: The Revenge of Kitty Galore
39                               Despicable Me
41                        Diary of a Wimpy Kid
51                      Extraordinary Measures
55                                     Flipped
Name: Title, dtype: object
4     A Turtle's Tale: Sammy's Adventures
5                     Alice in Wonderland
6                     Alice in Wonderland
8                         Alpha and Omega
11                         Animals United
Name: Title, dtype: object

In [97]:
df.fillna(0, inplace=True)

In [101]:
df.shape

(1604, 26)

In [102]:
df.head(9)

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,duration
0,127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,1.85,18000000.0,18329466.0,...,642.0,223.0,11984,63000,0.0,279179,440.0,450.0,7.6,-1
1,3 Backyards,2010.0,Drama,English,USA,R,88.0,0.00,300000.0,0.0,...,659.0,301.0,1884,92,0.0,554,23.0,20.0,5.2,-1
2,3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,2.35,0.0,59774.0,...,20.0,9.0,69,2000,0.0,4212,18.0,76.0,6.8,-1
3,8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,1.78,2500000.0,99851.0,...,12.0,5.0,210,0,0.0,1138,30.0,28.0,7.1,-1
4,A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,2.35,0.0,0.0,...,749.0,602.0,3874,0,2.0,5385,22.0,56.0,6.1,-1
5,Alice in Wonderland,2010.0,Adventure|Family|Fantasy,English,USA,PG,108.0,1.85,200000000.0,334185206.0,...,25000.0,11000.0,79957,24000,0.0,306320,736.0,451.0,6.5,-1
6,Alice in Wonderland,2010.0,Adventure|Family|Fantasy,English,USA,PG,108.0,1.85,200000000.0,334185206.0,...,25000.0,11000.0,79957,24000,0.0,306336,736.0,451.0,6.5,-1
7,All Good Things,2010.0,Crime|Drama|Mystery|Romance|Thriller,English,USA,R,101.0,1.85,0.0,578382.0,...,4000.0,902.0,39515,0,2.0,41249,67.0,140.0,6.3,-1
8,Alpha and Omega,2010.0,Adventure|Animation|Comedy|Family|Romance,English,USA,PG,90.0,1.85,20000000.0,25077977.0,...,611.0,518.0,2486,0,0.0,10986,84.0,84.0,5.3,-1

In [41]:
df.tail(5)

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,duration
1599,War & Peace,NaN,Drama|History|Romance|War,English,UK,TV-14,NaN,16.00,NaN,NaN,...,888.0,502.0,4528,11000,1.0,9277,44.0,10.0,8.2,-1
1600,Wings,NaN,Comedy|Drama,English,USA,NaN,30.0,1.33,NaN,NaN,...,511.0,424.0,1884,1000,5.0,7646,56.0,19.0,7.3,-1
1601,Wolf Creek,NaN,Drama|Horror|Thriller,English,Australia,NaN,NaN,2.00,NaN,NaN,...,457.0,206.0,1617,954,0.0,726,6.0,2.0,7.1,-1
1602,Wuthering Heights,NaN,Drama|Romance,English,UK,NaN,142.0,NaN,NaN,NaN,...,698.0,427.0,29196,0,2.0,6053,33.0,9.0,7.7,-1
1603,Yu-Gi-Oh! Duel Monsters,NaN,Action|Adventure|Animation|Family|Fantasy,Japanese,Japan,NaN,24.0,NaN,NaN,NaN,...,NaN,NaN,0,124,0.0,12417,51.0,6.0,7.0,-1

In [103]:
df.columns

Index(['Title', 'Year', 'Genres', 'Language', 'Country', 'Content Rating',
       'Duration', 'Aspect Ratio', 'Budget', 'Gross Earnings', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3', 'Facebook Likes - Director',
       'Facebook Likes - Actor 1', 'Facebook Likes - Actor 2',
       'Facebook Likes - Actor 3', 'Facebook Likes - cast Total',
       'Facebook likes - Movie', 'Facenumber in posters', 'User Votes',
       'Reviews by Users', 'Reviews by Crtiics', 'IMDB Score', 'duration'],
      dtype='object')

In [104]:
type(df.Language)

pandas.core.series.Series

In [133]:
# a=df.head(20)
# print(a['User Votes'].max())
df
df[df.IMDB Score = 551363]
# print(a['User Votes'].mean())

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,duration
0,127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,1.85,18000000.0,18329466.0,...,642.0,223.0,11984,63000,0.0,279179,440.0,450.0,7.6,-1
1,3 Backyards,2010.0,Drama,English,USA,R,88.0,0.00,300000.0,0.0,...,659.0,301.0,1884,92,0.0,554,23.0,20.0,5.2,-1
2,3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,2.35,0.0,59774.0,...,20.0,9.0,69,2000,0.0,4212,18.0,76.0,6.8,-1
3,8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,1.78,2500000.0,99851.0,...,12.0,5.0,210,0,0.0,1138,30.0,28.0,7.1,-1
4,A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,2.35,0.0,0.0,...,749.0,602.0,3874,0,2.0,5385,22.0,56.0,6.1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,War & Peace,0.0,Drama|History|Romance|War,English,UK,TV-14,0.0,16.00,0.0,0.0,...,888.0,502.0,4528,11000,1.0,9277,44.0,10.0,8.2,-1
1600,Wings,0.0,Comedy|Drama,English,USA,0,30.0,1.33,0.0,0.0,...,511.0,424.0,1884,1000,5.0,7646,56.0,19.0,7.3,-1
1601,Wolf Creek,0.0,Drama|Horror|Thriller,English,Australia,0,0.0,2.00,0.0,0.0,...,457.0,206.0,1617,954,0.0,726,6.0,2.0,7.1,-1
1602,Wuthering Heights,0.0,Drama|Romance,English,UK,0,142.0,0.00,0.0,0.0,...,698.0,427.0,29196,0,2.0,6053,33.0,9.0,7.7,-1
1603,Yu-Gi-Oh! Duel Monsters,0.0,Action|Adventure|Animation|Family|Fantasy,Japanese,Japan,0,24.0,0.00,0.0,0.0,...,0.0,0.0,0,124,0.0,12417,51.0,6.0,7.0,-1

In [3]:
df.describe

<bound method NDFrame.describe of                                      Title    Year  \
0                               127 Hours   2010.0
1                             3 Backyards   2010.0
2                                       3   2010.0
3               8: The Mormon Proposition   2010.0
4     A Turtle's Tale: Sammy's Adventures   2010.0
...                                    ...     ...
1599              War & Peace                  NaN
1600                    Wings                  NaN
1601               Wolf Creek                  NaN
1602        Wuthering Heights                  NaN
1603  Yu-Gi-Oh! Duel Monsters                  NaN

                                         Genres  Language    Country  \
0            Adventure|Biography|Drama|Thriller   English        USA
1                                         Drama   English        USA
2                          Comedy|Drama|Romance    German    Germany
3                                   Documentary   English        USA
4                    Adventure|Animation|Family   English     France
...                                         ...       ...        ...
1599                  Drama|History|Romance|War   English         UK
1600                               Comedy|Drama   English        USA
1601                      Drama|Horror|Thriller   English  Australia
1602                              Drama|Romance   English         UK
1603  Action|Adventure|Animation|Family|Fantasy  Japanese      Japan

     Content Rating  Duration  Aspect Ratio      Budget  Gross Earnings  ...  \
0                 R      94.0          1.85  18000000.0      18329466.0  ...
1                 R      88.0           NaN    300000.0             NaN  ...
2           Unrated     119.0          2.35         NaN         59774.0  ...
3                 R      80.0          1.78   2500000.0         99851.0  ...
4                PG      88.0          2.35         NaN             NaN  ...
...             ...       ...           ...         ...             ...  ...
1599          TV-14       NaN         16.00         NaN             NaN  ...
1600            NaN      30.0          1.33         NaN             NaN  ...
1601            NaN       NaN          2.00         NaN             NaN  ...
1602            NaN     142.0           NaN         NaN             NaN  ...
1603            NaN      24.0           NaN         NaN             NaN  ...

     Facebook Likes - Actor 1 Facebook Likes - Actor 2  \
0                     11000.0                    642.0
1                       795.0                    659.0
2                        24.0                     20.0
3                       191.0                     12.0
4                       783.0                    749.0
...                       ...                      ...
1599                   1000.0                    888.0
1600                    685.0                    511.0
1601                    511.0                    457.0
1602                  27000.0                    698.0
1603                      0.0                      NaN

     Facebook Likes - Actor 3 Facebook Likes - cast Total  \
0                       223.0                       11984
1                       301.0                        1884
2                         9.0                          69
3                         5.0                         210
4                       602.0                        3874
...                       ...                         ...
1599                    502.0                        4528
1600                    424.0                        1884
1601                    206.0                        1617
1602                    427.0                       29196
1603                      NaN                           0

      Facebook likes - Movie  Facenumber in posters  User Votes  \
0                      63000                    0.0      279179
1                         92                    0.0         554
2                       2000                    0.0        4212
3                          0                    0.0        1138
4                          0                    2.0        5385
...                      ...                    ...         ...
1599                   11000                    1.0        9277
1600                    1000                    5.0        7646
1601                     954                    0.0         726
1602                       0                    2.0        6053
1603                     124                    0.0       12417

      Reviews by Users  Reviews by Crtiics  IMDB Score
0                440.0               450.0         7.6
1                 23.0                20.0         5.2
2                 18.0                76.0         6.8
3                 30.0                28.0         7.1
4                 22.0                56.0         6.1
...                ...                 ...         ...
1599              44.0                10.0         8.2
1600              56.0                19.0         7.3
1601               6.0                 2.0         7.1
1602              33.0                 9.0         7.7
1603              51.0                 6.0         7.0

[1604 rows x 25 columns]>

In [39]:
df[:][df['Reviews by Users'] >= 15]
RU=df[['Title','Reviews by Users','Budget',]][df['Reviews by Users'] == df['Reviews by Users'].max()]
B=df[['Title','Reviews by Users','Budget']][df.Budget==df.Budget.max()]
print(RU)
print(B)
# df.columns

                                    Title  Reviews by Users       Budget
1401  Batman v Superman: Dawn of Justice             3018.0  250000000.0
     Title  Reviews by Users       Budget
90  Kites              106.0  600000000.0